{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>

<span id="langnavhover">
    <span id='trigger' class="hover-white no-underline   white-90 dib list f5 f4-ns fw4 pr3" href="{{ .Permalink }}"> <img style="height: 25px" src="/round_flags/{{ .Site.Language.Lang }}.svg"/> </span>
    <!--<span id='trigger' class="hover-white no-underline   white-90 dib list f5 f4-ns fw4 pr3" href="{{ .Permalink }}"> <img style="height: 20px" src="/country-flags/svg/{{ .Site.Language.Lang }}.svg"/> </span>-->

<ul id="langnav" class="pl0 mv1 mr3">
    {{ range .Translations }}
    <li class="dropdown list f5 f4-ns fw4">
        <a class="hover-white no-underline white-90" href="{{ .Permalink }}"><img style="height: 25px" src="/round_flags/{{ .Lang }}.svg"/></a>
        <!--<a class="hover-white no-underline white-90" href="{{ .Permalink }}"><img style="height: 25px" src="/country-flags/svg/{{ .Lang }}.svg"/></a>-->
    </li>
    {{ end}}
</ul>


</span>
    <script type='text/javascript'>
        $("document").ready(function() {
            $(".dropdown").hide();
        });
        $("#langnavhover").hover(
            function() {
                $(".dropdown").show();
            },
            function() {});
         $("#langnav").hover(
            function() {
                $(".dropdown").show();
            },
            function() {
                $(".dropdown").hide();
            });

    </script>

{{ end }}
