.bg-top {
    background-position: center;
}

.flex-container {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  align-items: center;
}

.flex-container > .flex-column {
  flex: 1;
  padding: 0 30px;
}
.flex-container > .nopad-flex-column {
  flex: 1;
  padding: 0px;
}


figure {

    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin: 0;
    padding: 10px;
}

#langnav {
    position: absolute;
}

.dropdown {
    position: relative;
    display: block;
    /*display: none;*/
}

.flex-column p {
    text-align: left;
}

.flex-column li {
    text-align: left;
}

.flex-column h1 {
    margin: 0px;
}


.lighter-gray {
    background-color: rgb(24, 26, 27);
}

.section {
    min-height: 100vh; 
}

.single-para p {
    text-align: left;
}
a {
    color: white;
}
.single-para li {
    text-align: left;
}


@media only screen and (max-width: 868px) {

  .flex-container {
    flex-direction: column;
  }

  .flex-container > .flex-column {
    padding: 0;
}
