.bg-top {
    background-position: center;
}

.flex-container {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}

.flex-container > .flex-column {
  flex: 1;
  padding: 0 30px;
}

.lighter-gray {
    background-color: rgb(24, 26, 27);
}

.callout {
    font-size: 4em;
    margin-bottom: 0;
}

.grid-container {
    grid-template-columns: 20fr;
    grid-template-rows: 20fr;
}
.item1 {
    grid-column: 1;
    grid-row: 1;
}

@media only screen and (max-width: 768px) {

  .flex-container {
    flex-direction: column;
  }

  .flex-container > .flex-column {
    padding: 0;
}
