.color-mode-btn {
width: 1.5em;
height: 1.5em;
margin: 0 0.5rem;
line-height: 1;

svg {
  width: 100%;
  height: 100%;
  transition: stroke 0.2s, fill 0.2s;
  fill: transparent;
  @include mixins.color-map(stroke, text2);

  &:hover {
    fill: #eee8aa;
    @include mixins.color-map(stroke, text);
  }
}
}

.color-mode-btn {
  &.light {
    :root[color-mode='light'] & {
      display: none;
    }
  }
  &.dark {
    :root[color-mode='dark'] & {
      display: none;
    }
  }
