<div class='flex-container' style='width:100%; left:0; height:50%; '>
    <div class='flex-column' style=''>
    <h1> Automating censorship evasion </h1>
    <p style="text-align: justify">Researchers and censoring regimes have long engaged in a cat-and-mouse game, leading to increasingly sophisticated Internet-scale censorship techniques and methods to evade them. In this work, we take a drastic departure from the previously manual evade/detect cycle by developing techniques to automate the discovery of censorship evasion strategies.</p>
    </div>

    <div class='flex-column' style=''>
    <h1> Our approach </h1>
    <p style="text-align:justify">
    We developed Geneva (Genetic Evasion), a novel genetic algorithm that evolves packet-manipulation-based censorship evasion strategies against nation-state level censors. Geneva re-derived virtually all previously published evasion strategies within hours, and has discovered new ways of circumventing censorship in China, India, and Kazakhstan.</p>
    </div>

      {{ printf "%s" .Inner | safeHTML }}
</div>
