 <article class="tl-l pa3 nested-copy-line-height nested-img">
    <section class="cf ph3-ns ph5-l pv3 pv4-l f4 lh-copy light-gray">
        
    </section>
    <section class="flex-ns flex-wrap justify-around">

        <div class="relative w-100 w-40-l mb4 lighter-gray">
            <div class="relative w-100 mb4 lighter-gray nested-copy-line-height">
              <div class="lighter-gray mb3 pa4 light-gray overflow-hidden">
                <span class="f6 db">Weaponizing</span>
                <h1 class="f3 light-gray">
                  <a href="Permalink" class="link light-gray dim">
                    Weaponizing Middleboxes for TCP Reflected Amplification 
                  </a>
                </h1>
                <div class="nested-links f5 lh-copy nested-copy-line-height">
                    <img src='/ddos.png' class='mb3'/>

                    We discover a new way that attackers could launch reflected denial of service amplification attacks over TCP by abusing middleboxes and censorship infrastructure, which can be orders of magnitude more dangerous than existing UDP attacks. We found multiple instances of technically <i>infinite amplification</i>: by sending a single packet, the attacker can initiate an endless stream of packets to the victim. 
                </div>

                <a href="Permalink" class="ba b--moon-gray bg-light-gray mid-gray br2 dib f7 hover-bg-moon-gray link mt2 ph2 pv1">read more</a>
              </div>
            </div>
        </div>

        <div class="relative w-100 w-40-l mb4 lighter-gray">
            <div class="relative w-100 mb4 lighter-gray nested-copy-line-height">
              <div class="lighter-gray mb3 pa4 light-gray overflow-hidden">
                <span class="f6 db">Weaponizing</span>
                <h1 class="f3 light-gray">
                  <a href="Permalink" class="link light-gray dim">
                    Weaponizing Middleboxes for Availability Attacks 
                  </a>
                </h1>
                <div class="nested-links f5 lh-copy nested-copy-line-height">
                    <img src='/available.png' class='mb3'/>

                    We discover it is possible for an attacker to weaponize a censor to prevent any pair of hosts from communicating across its borders by abusing a little known feature of many censorship systems: <i>residual censorship</i>.

                </div>
                <a href="Permalink" class="ba b--moon-gray bg-light-gray mid-gray br2 dib f7 hover-bg-moon-gray link mt2 ph2 pv1">read more</a>
              </div>
            </div>
        </div>
    </section>
  </article>
  {{ .Inner }}
