<div class="ph6-l container">
    <!-- 2023 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">
            <h4 class='mv1'><font color="#E90013">2023</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">
                <tbody>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2023-usenix-fully-encrypted-traffic.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>How the Great Firewall of China Detects and Blocks Fully Encrypted Traffic</b><br>
                            Mingshi Wu, GFW Report, Jackson Sippe, Danesh Sivakumar, Jack Burg, Peter Anderson, Xiaokang Wang, Kevin Bock, Amir Houmansadr, Dave Levin, Eric Wustrow<br>
                            <a href="https://www.usenix.org/conference/usenixsecurity23/presentation/wu-mingshi">USENIX Security 2023</a> 
                        </td>
                    </tr>  
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2023-web-turkmenistan.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="https://www.youtube.com/watch?v=jzLBfBVy5so" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Measuring and Evading Turkmenistan's Internet Censorship</b><br>
                            Sadia Nourin, Van Tran, Xi Jiang, Kevin Bock, Nick Feamster, Nguyen Phong Hoang, Dave Levin<br>
                            <a href="https://www.sigweb.org/toc/www23.html">The Web Conference 2023</a> 
                        </td>
                    </tr>                    
                </tbody></table>
        </div>
    <!-- 2022 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">
            <h4 class='mv1'><font color="#E90013">2022</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2022-usenix-application-evasion.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="https://www.youtube.com/watch?v=b9F696-oax0" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>GET /out: Automated Discovery of Application-Layer Censorship Evasion Strategies</b><br>
                            Michael Harrity, Kevin Bock, Frederick Sell, and Dave Levin<br>
                            <a href="https://www.usenix.org/conference/usenixsecurity22/presentation/harrity">USENIX Security 2022</a> 
                        </td>
                    </tr>                    
                </tbody></table>
        </div>


    <!-- 2021 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">

            <h4 class='mv1'><font color="#E90013">2021</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/slides/2021-ptim-geneva-tunnelbear.pdf" class='no-underline'><span class="label label-info">&nbsp;slides&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Geneva + Tunnelbear: Packet Manipulation Evasion at Scale</b><br>
                            Kevin Bock, Jules Mazur<br>
                            <a href="https://www.pluggabletransports.info/ptim2021/">PTIM 2021 (Pluggable Transports Implementers Meeting)</a> 
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2021-foci-censors-have-backup.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="https://www.youtube.com/watch?v=ASskHbwnrV4" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Even Censors Have a Backup: Examining China's Double HTTPS Censorship System</b><br>
                            Kevin Bock, Gabriel Naval, Kyle Reese, Dave Levin<br>
                            <a href="https://conferences.sigcomm.org/sigcomm/2021/workshop-foci.html">SIGCOMM FOCI 2021</a> 
                        </td>
                    </tr>
                    
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2021-usenix-weaponizing-ddos.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="/slides/2021-usenix-weaponizing-ddos-slides.pdf" class='no-underline'><span class="label label-info">&nbsp;slides&nbsp;</span></a>
                            <a href="https://www.youtube.com/watch?v=OSfgTbjb3og" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="https://github.com/breakerspace/weaponizing-censors/" class='no-underline'><span class="label label-default">&nbsp;code&nbsp;</span></a>
                            <a href="/weaponizing/" class='no-underline'><span class="label label-warning">www</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Weaponizing Middleboxes for TCP Reflected Amplification</b><br>
                            Kevin Bock, Abdulrahman Alaraj, Yair Fax, Kyle Hurley, Eric Wustrow, Dave Levin<br>
                            <a href="https://www.usenix.org/conference/usenixsecurity21/presentation/bock">USENIX Security 2021</a> (<i>Distinguished Paper Award</i>)
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://www.youtube.com/watch?v=c6gR4UDXmOY" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Weaponizing Censorship Infrastructure</b><br>
                            Kevin Bock and Dave Levin<br>
                            <a href="https://rightscon.summit.tc/t/2021/events/weaponizing-censorship-infrastructure-k2DwJeJ3b8VrBHgLMLV4Ze">RightsCon 2021</a> 
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2021-woot-weaponizing-availability.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="/slides/2021-woot-weaponizing-availability-slides.pdf" class='no-underline'><span class="label label-primary">&nbsp;slides&nbsp;</span></a>
                            <a href="https://www.youtube.com/watch?v=QkB3IeHpGgY" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="https://github.com/breakerspace/weaponizing-residual-censorship/" class='no-underline'><span class="label label-default">&nbsp;code&nbsp;</span></a>
                            <a href="/posts/woot21-weaponizing-availability/" class='no-underline'><span class="label label-warning">www</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Your Censor is My Censor: Weaponizing Censorship Infrastructure for Availability Attacks</b><br>
                            Kevin Bock, Pranav Bharadwaj, Jasraj Singh, Dave Levin<br>
                            <a href="https://www.ieee-security.org/TC/SP2021/SPW2021/WOOT21/">IEEE WOOT 2021</a> 
                        </td>
                    </tr>
                     <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://irtf.org/anrp/" class='no-underline'><span class="label label-warning">www</span></a>
                            <a href="/papers/2020-sigcomm-come-as-you-are.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Applied Network Research Prize</b><br>
                            Kevin Bock, George Hughey, Louis-Henri Merino, Tania Arya, Daniel Liscinsky, Regina Pogosian, Dave Levin<br>
                            <a href="https://irtf.org/anrp/">IRTF ANRP 2020</a> (<a href="https://datatracker.ietf.org/meeting/112/proceedings">IETF-112</a>)
                        </td>
                    </tr>
                    
                </tbody></table>
        </div>


    <!-- 2020 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">

            <h4 class='mv1'><font color="#E90013">2020</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody>
                 <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>

                            <!--<span class="label label-black">to appear</span>-->

                            <a href="/papers/2020-foci-protocol-filter.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="https://www.youtube.com/watch?v=NM-h3WoAYEc" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="https://github.com/kkevsterrr/geneva/" class='no-underline'><span class="label label-default">&nbsp;code&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Detecting and Evading Censorship-in-Depth: A Case Study of Iran's Protocol Filter</b><br>
                            Kevin Bock, Yair Fax, Kyle Reese, Jasraj Singh, Dave Levin<br>
                            <a href="https://www.usenix.org/conference/foci20">USENIX FOCI 2020</a> 
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://www.youtube.com/watch?v=ksojSRFLbBM" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="/slides/2020-imv-ooni.pdf" class='no-underline'><span class="label label-info">slides</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Geneva: Evolving Censorship Evasion</b><br>
                            Kevin Bock<br>
                            <a href="https://ooni.org/post/2020-internet-measurement-village/">OONI Internet Measurement Village 2020</a> 
                        </td>
                    </tr>

                     <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2020-sigcomm-come-as-you-are.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="https://github.com/kkevsterrr/geneva/" class='no-underline'><span class="label label-default">&nbsp;code&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Come as You Are: Helping Unmodified Clients Bypass Censorship with Server-side Evasion</b><br>
                            Kevin Bock, George Hughey, Louis-Henri Merino, Tania Arya, Daniel Liscinsky, Regina Pogosian, Dave Levin<br>
                            <a href="https://conferences.sigcomm.org/sigcomm/2020/">ACM SIGCOMM 2020</a> 
                        </td>
                    </tr>


                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://www.youtube.com/watch?v=R9TWLO5N7mc" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="/slides/2020-bluehat-ai-approach.pdf" class='no-underline'><span class="label label-info">slides</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Geneva: An AI Approach to Evading Nation-State Censorship</b><br>
                            Kevin Bock & George Hughey<br>
                            <a href="https://www.bluehatil.com/">Bluehat IL 2020</a> 
                           (Conference on Groundbreaking Offensive Security Research) 
                        </td>
                    </tr>

                    
                </tbody></table>
        </div>

    <!-- 2019 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">
            <h4 class='mv1'><font color="#E90013">2019</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody><tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/2019-ccs-geneva.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="https://github.com/kkevsterrr/geneva/" class='no-underline'><span class="label label-default">&nbsp;code&nbsp;</span></a>
                        </td>
                        <td class='pv3'>
                            <b>Geneva: Evolving Censorship Evasion Strategies</b><br>
                            Kevin Bock, George Hughey, Xiao Qiang, Dave Levin <br>
                            <a href="https://www.sigsac.org/ccs/CCS2019/">ACM CCS 2019</a>
                            (Conference on Computer and Communications Security)
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://www.usenix.org/conference/scainet19/presentation/levin" class='no-underline'><span class="label label-warning">www</span></a>
                        </td>
                        <td class='pv3'>
                            <b>Automatically Learning How to Evade Censorship</b><br>
                            Dave Levin <br>
                            <a href="https://www.caida.org/workshops/aims/1904/">USENIX ScAINet 2019</a>
                            (Security and AI Networking Conference)
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/slides/2019-aims-automatically-learning.pdf" class='no-underline'><span class="label label-info">slides</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Learning Nation-State Censorship with Genetic Algorithms</b><br>
                            Kevin Bock, George Hughey<br>
                            <a href="https://www.caida.org/workshops/aims/1904/">AIMS 2019</a>
                            (Workshop on Active Internet Measurements)
                        </td>
                    </tr>

                </tbody></table>
        </div>
    </div>

</div>
