<!-- TODO generate dynamically -->
<div class="ph6-l container">
    <!-- 2020 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">

            <h4 class='mv1'><font color="#E90013">2021</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody>
                
                     <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/come-as-you-are.pdf" class='no-underline'><span class="label label-warning">www</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Applied Network Research Prize</b><br>
                            Kevin Bock, George Hughey, Louis-Henri Merino, Tania Arya, Daniel Liscinsky, Regina Pogosian, Dave Levin<br>
                            <a href="https://irtf.org/anrp/">IRTF ANRP 2020</a> 
                        </td>
                    </tr>
                    
                </tbody></table>
        </div>


    <!-- 2020 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">

            <h4 class='mv1'><font color="#E90013">2020</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody>
                 <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>

                            <!--<span class="label label-black">to appear</span>-->

                            <a href="/papers/evading-censorship-in-depth.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                            <a href="https://www.youtube.com/watch?v=NM-h3WoAYEc" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Detecting and Evading Censorship-in-Depth: A Case Study of Iran's Protocol Filter</b><br>
                            Kevin Bock, Yair Fax, Kyle Reese, Jasraj Singh, Dave Levin<br>
                            <a href="https://www.usenix.org/conference/foci20">USENIX FOCI 2020</a> 
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://www.youtube.com/watch?v=ksojSRFLbBM" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="/papers/ooni_imv_slides.pdf" class='no-underline'><span class="label label-info">slides</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Geneva: Evolving Censorship Evasion</b><br>
                            Kevin Bock<br>
                            <a href="https://ooni.org/post/2020-internet-measurement-village/">OONI Internet Measurement Village 2020</a> 
                        </td>
                    </tr>

                     <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/come-as-you-are.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Come as You Are: Helping Unmodified Clients Bypass Censorship with Server-side Evasion</b><br>
                            Kevin Bock, George Hughey, Louis-Henri Merino, Tania Arya, Daniel Liscinsky, Regina Pogosian, Dave Levin<br>
                            <a href="https://conferences.sigcomm.org/sigcomm/2020/">ACM SIGCOMM 2020</a> 
                        </td>
                    </tr>


                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://www.youtube.com/watch?v=R9TWLO5N7mc" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="/papers/bluehat_slides.pdf" class='no-underline'><span class="label label-info">slides</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Geneva: An AI Approach to Evading Nation-State Censorship</b><br>
                            Kevin Bock & George Hughey<br>
                            <a href="https://www.bluehatil.com/">Bluehat IL 2020</a> 
                           (Conference on Groundbreaking Offensive Security Research) 
                        </td>
                    </tr>

                    
                </tbody></table>
        </div>

    <!-- 2019 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left;">
            <h4 class='mv1'><font color="#E90013">2019</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody><tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/geneva_ccs19.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3'>
                            <b>Geneva: Evolving Censorship Evasion Strategies</b><br>
                            Kevin Bock, George Hughey, Xiao Qiang, Dave Levin <br>
                            <a href="https://www.sigsac.org/ccs/CCS2019/">ACM CCS 2019</a>
                            (Conference on Computer and Communications Security)
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="https://www.usenix.org/conference/scainet19/presentation/levin" class='no-underline'><span class="label label-warning">www</span></a>
                        </td>
                        <td class='pv3'>
                            <b>Automatically Learning How to Evade Censorship</b><br>
                            Dave Levin <br>
                            <a href="https://www.caida.org/workshops/aims/1904/">USENIX ScAINet 2019</a>
                            (Security and AI Networking Conference)
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3 ph1'>
                            <a href="/papers/aims_slides.pdf" class='no-underline'><span class="label label-info">slides</span></a>
                        </td>
                        <td class='pv3 ph1'>
                            <b>Learning Nation-State Censorship with Genetic Algorithms</b><br>
                            Kevin Bock, George Hughey<br>
                            <a href="https://www.caida.org/workshops/aims/1904/">AIMS 2019</a>
                            (Workshop on Active Internet Measurements)
                        </td>
                    </tr>

                </tbody></table>
        </div>
    </div>

</div>
