<!-- TODO generate dynamically -->
<div class="ph5 ph7-l container">
    <!-- 2020 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left; padding-left: 25px">
            <h4 class='mv1'><font color="#E90013">2020</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody><tr>
                        <td align="center" valign="top" width="8%" class='pv3'>
                            <a href="https://www.youtube.com/watch?v=R9TWLO5N7mc" class='no-underline'><span class="label label-success">&nbsp;&nbsp;talk&nbsp;&nbsp;</span></a>
                            <a href="/papers/bluehat_slides.pdf" class='no-underline'><span class="label label-info">slides</span></a>
                        </td>
                        <td class='pv3'>
                            <b>Geneva: An AI Approach to Evading Nation-State Censorship</b><br>
                            Kevin Bock & George Hughey<br>
                            <a href="https://www.bluehatil.com/">Bluehat IL 2020</a> 
                           (Conference on Groundbreaking Offensive Security Research) 
                        </td>
                    </tr>

                    
                </tbody></table>
        </div>

    <!-- 2019 -->
    <div class="row">
        <div class="col-lg-12" style="text-align: left; padding-left: 25px">
            <h4 class='mv1'><font color="#E90013">2019</font></h4>
            <table class="table table-striped" border="0" width="100%" cellspacing="10">

                <tbody><tr>
                        <td align="center" valign="top" width="8%" class='pv3'>
                            <a href="/papers/geneva_ccs19.pdf" class='no-underline'><span class="label label-primary">&nbsp;&nbsp;pdf&nbsp;&nbsp;</span></a>
                        </td>
                        <td class='pv3'>
                            <b>Geneva: Evolving Censorship Evasion Strategies</b><br>
                            Kevin Bock, George Hughey, Xiao Qiang, Dave Levin <br>
                            <a href="https://www.sigsac.org/ccs/CCS2019/">ACM CCS 2019</a>
                            (Conference on Computer and Communications Security)
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" width="8%" class='pv3'>
                            <a href="https://www.usenix.org/conference/scainet19/presentation/levin" class='no-underline'><span class="label label-warning">www</span></a>
                        </td>
                        <td class='pv3'>
                            <b>Automatically Learning How to Evade Censorship</b><br>
                            Dave Levin <br>
                            <a href="https://www.caida.org/workshops/aims/1904/">USENIX ScAINet 2019</a>
                            (Security and AI Networking Conference)
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" width="8%">
                        </td>
                        <td class='pv3'>
                            <b>Learning Nation-State Censorship with Genetic Algorithms</b><br>
                            Kevin Bock, George Hughey<br>
                            <a href="https://www.caida.org/workshops/aims/1904/">AIMS 2019</a>
                            (Workshop on Active Internet Measurements)
                        </td>
                    </tr>

                </tbody></table>
        </div>
    </div>

</div>
